<html>
<head>
    <title>Bilisim Blogum</title>
</head>
<body>
    <div>
        <h1><a href="/">Bilisim Blog</a></h1>
    </div>

    <div>
        <p>publish:13.25 29.10.2022</p>
        <h2><a href=" ">First Blog</a></h2>
        <p>if-else Yapisi</p>
    </div>

    <div>
        <p>publish:13.30 29.10.2022</p>
        <h2><a href=" ">else-if</a></h2>
        <p>if-else-else if yapisi</p>
    </div>

    <div>
        <p>publish:13.37 29.10.2022</p>
        <h2><a href=" ">Arduino</a></h2>
        <p>Led yakma</p>
    </div>

    <div>
        <p>publish:13.25 29.10.2022</p>
        <h2><a href=" ">Arduino-2</a></h2>
        <p>trafik ledleri</p>
    </div>

</body>
</html>